.idea/
.nyc_output/
.rollup.cache/
/build/
/node_modules/
/test/
/coverage/
*.log
yarn.lock

/dist/*
!dist/tshet-uinh.d.cts

/docs

/prepare/guangyun.csv
/prepare/qieyun.csv
/prepare/qieyun_*.csv

/src/data/raw/
