.idea/
.nyc_output/
.rollup.cache/
/build/
/node_modules/
/test/
/coverage/
*.log
yarn.lock

/index.js
/index.js.map
/index.d.ts

/docs

/prepare/data.csv
/prepare/韻鏡（古逸叢書本）.csv
/prepare/v2.csv

/src/data/raw/
