html {
	scrollbar-color: #393b3e #1c1e1f;
}

body {
	background-color: black;
	font-family: sans-serif;
	color: white;
	max-width: 68em;
	margin: 2em auto;
}

h1 {
	text-align: center;
}

input, option, select, textarea {
	background-color: inherit;
	border: 1px solid #ddd;
	color: inherit;
}

textarea:not(#articleInput) {
	height: 400px;
	width: 100%;
	resize: none;
}
