name: Documentation

on:
  release:
    types: [created]

jobs:
  publish:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v2
    - name: Setup Node.js
      uses: actions/setup-node@v2
      with:
        node-version: '14'
    - name: Install dependencies
      run: npm install
    - name: Prepare
      run: prepare/main.sh
    - name: Build
      run: npm run build
    - name: Build documentation
      run: npm run doc
    - name: Publish documentation
      run: |
        git remote set-url origin https://git:${GITHUB_TOKEN}@github.com/nk2028/qieyun-js.git
        npm run doc:publish
